.date {
    position: absolute;
    width: 224.71px;
    height: 268.03px;
    top: 190px;
    right: 5%;
    background: #F5F5F5;
    display: inline-block;
    z-index: 999;

}

.date h1 {
    position: absolute;
    height: 20px;
    top: 19.85px;
    left: 32.49px;

    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14.4394px;
    line-height: 20px;
    /* identical to box height */

    display: flex;
    align-items: center;

    color: #000000;

}

.date h1:nth-of-type(2) {
    top: 70.39px;
}

.date h1:nth-of-type(3) {
    top: 190.25px;
}

.date h2 {

    position: absolute;
    height: 17px;
    top: 93.86px;
    left: 32.49px;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12.6345px;
    line-height: 17px;
    display: flex;
    align-items: center;

    color: #000000;
}

.date h2:nth-of-type(2) {
    top: 140.3px;
}

.date .radio {
    position: relative;
    height: 17px;
    top: 50.51px;
    left: 32.49px;

    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12.6345px;
    display: flex;
    align-items: center;

}

.date .count {
    position: absolute;
    left: 32.49px;
    top: 225.62px;
    width: 37.9px;
    height: 18.05;
    border: 0;
    background: #ffffff;
}

.date h3 {
    position: absolute;
    width: 12px;
    height: 17px;
    left: 77.1px;
    top: 213.62px;


    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12.6345px;
    line-height: 17px;
    align-items: center;

    color: #7C8DB0;
}

.date .btn {
    position: absolute;
    height: 17px;

    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12.6345px;
    line-height: 17px;
    display: flex;
    align-items: center;

    color: #828282;

    left: 68.53%;
    right: 14.6%;
    top: 176.3px;
    bottom: 30.59%;

    background: #C4C4C4;
    border-radius: 2px;
    border: 0;
}

.date .selectDate {
    position: absolute;
    width: 118.22px;
    height: 21.66px;
    left: 32.49px;
    top: 124.32px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.date .selectDate2 {
    position: absolute;
    width: 118.22px;
    height: 21.66px;
    left: 32.49px;
    display: flex;
    flex-direction: row;
    align-items: center;
    top: 172.3px;
}

.icon {
    width: 21.66px;
    height: 21.66px;
}

.calendar {
    width: 70px;
}