body {
    text-align: center;
}

.layout {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: overlay;
    flex-direction: column;
    width: 100%;
    overflow-y: scroll;

}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 8px 24px;
    gap: 10px;
    flex: 0 1 728px;

    position: fixed;
    height: 96px;
    /* True White */

    background: #ffff;
    top: 0;
    box-sizing: border-box;
    width: 100%;
    z-index: 1000;
}

.main {
    /* display: flex; */
    flex-direction: column;
    padding-top: 156px;
    width: 100%;
    justify-content: space-between;
    height: 700px;
    background: url(../../../public/img/coud.jpg) center/cover;
}


.main h1 {
    position: relative;
    height: 69px;

    font-family: 'Gothic A1';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 80px;

    color: #F5F5F5;
    text-align: right;
    margin-right: 5%;

}


.main h2 {
    position: relative;
    height: 69px;

    font-family: 'Gothic A1';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 80px;

    color: #F5F5F5;
    text-align: right;
    margin-right: 5%;

    height: 100px;


}

.main h3 {
    position: relative;
    height: 100px;
    top: 0;

    font-family: 'Gothic A1';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;

    color: #F5F5F5;
    text-align: right;
    margin-right: 5%;

}

.menu {
    position: relative;
    display: flex;
    width: 100%;
    background-color: aqua;
    justify-content: space-evenly
}

.menu .plan {

    display: flex;
    position: relative;


    width: 400px;
    height: 400px;
    border-radius: 50%;

    background: url(../../../public/img/mypage.jpg) center/cover;
    background-color: rgba(86, 86, 86, 0.7);
    text-decoration: none;

    flex-direction: column;


}

.menu .myPage {
    display: flex;
    position: relative;

    width: 400px;
    height: 400px;
    border-radius: 50%;

    background: url(../../../public/img/plan.png) center/cover;
    flex-direction: column;
}

.menu a {
    text-decoration: none;
    position: relative;

}

.menu h1 {
    display: flex;
    position: relative;
    top: 180px;
    left: -50px;


    font-family: 'Gothic A1';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 50px;

    color: #F5F5F5;
}

.menu h2 {
    display: flex;
    position: relative;
    top: 120px;
    left: 10px;

    font-family: 'Gothic A1';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 50px;

    color: #F5F5F5;
}