body {
    text-align: center;
}

.layout {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: overlay;
    flex-direction: column;
    width: 100%;
    overflow-y: scroll;

}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 8px 24px;
    gap: 10px;
    flex: 0 1 728px;

    position: fixed;
    height: 96px;
    /* True White */

    background: #ffff;
    top: 0;
    box-sizing: border-box;
    width: 100%;
    z-index: 1000;
}

.main {
    /* display: flex; */
    flex-direction: column;
    padding-top: 156px;
    width: 100%;
    justify-content: space-between;
    height: 700px;
    background: url(../../../public/img/coud.jpg) center/cover;
}


.main h1 {
    position: relative;
    height: 69px;

    font-family: 'Gothic A1';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 80px;

    color: #F5F5F5;
    text-align: right;
    margin-right: 5%;

}


.main h2 {
    position: relative;
    height: 69px;

    font-family: 'Gothic A1';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 80px;

    color: #F5F5F5;
    text-align: right;
    margin-right: 5%;

    height: 100px;


}

.main h3 {
    position: relative;
    height: 100px;
    top: 0;

    font-family: 'Gothic A1';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;

    color: #F5F5F5;
    text-align: right;
    margin-right: 5%;

}

.list h1 {
/* Auto layout */

display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 4px;

width: 68px;
height: 33px;
z-index:100000;

/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;

}

/* 
.menu {
    position: relative;
    display: flex;
    width: 100%;
    background-color: rgb(255, 255, 255);
    justify-content: space-evenly;
    border: 1px solid rgb(0, 0, 0);


    padding-bottom: 56.25%;
    flex-direction: column;
}

.menu::after {
    content: "";
    clear: both;
    display: block;

}

.menu .box {
    position: relative;
    width: 100%;
    border: 1px solid rgb(249, 3, 3);
    padding-bottom: 56.25%;
    display: flex;
    flex-direction: column;

}

.menu .box .plan {
    float: left;
    margin: 100px 0px;
    display: flex;
    position: absolute;

    margin-left: 30px;
    width: 410px;
    height: 410px;
    border-radius: 50%;

    background: url(../../../public/img/mypage.jpg) center/cover;
    text-decoration: none;

}

.menu .box .myPage {
    margin: 100px 0px;

    display: flex;
    position: absolute;
    margin-right: 30px;

    width: 410px;
    height: 410px;
    border-radius: 50%;

    background: url(../../../public/img/plan.png) center/cover;
} */

.menu {
    position: relative;
    display: flex;
    width: 100%;
    background-color: rgb(255, 255, 255);
    justify-content: space-evenly;
    flex-direction: row;
}

.menu .plan {
    margin: 100px 0px;
    display: flex;
    position: relative;

    margin-left: 30px;
    width: 410px;
    height: 410px;
    border-radius: 50%;

    background: url(../../../public/img/mypage.jpg) center/cover;
    background-color: rgba(86, 86, 86, 0.7);
    text-decoration: none;



}

.menu .myPage {
    margin: 100px 0px;

    display: flex;
    position: relative;
    margin-right: 30px;

    width: 410px;
    height: 410px;
    border-radius: 50%;

    background: url(../../../public/img/plan.png) center/cover;
}

.menu a {
    text-decoration: none;
    position: relative;

}

.menu h1 {
    display: flex;
    position: relative;
    top: 180px;
    left: 87px;
    width: 100%;
    height: 20px;

    font-family: 'Gothic A1';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 50px;

    color: #F5F5F5;

}

.menu h2 {
    display: flex;
    position: relative;
    top: 230px;
    width: 100%;
    height: 20px;
    left: -118px;
    font-family: 'Gothic A1';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 50px;

    color: #F5F5F5;
}