.primaryBtn {

  /*나(예림)가 건들인곳*/
  position: relative;
left: 60%;
right: 60.45%;
top: -200%;
bottom: 86.09%;
width: 16.5%; 



    margin: 10px;
    cursor: pointer;
    font-weight: 500;
    
    padding: 13px 25px;
    border-radius: 15px;
    font-size: 0.7rem;
    border: none;
    color: white;
    background: #2BB6F1;
    /* transition: all 0.25s ease; */
  }
  
  .primaryBtn:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px -10px rgba(24, 90, 219, 0.6);
  }

.darkBG {
    /* background-color: rgba(0, 0, 0, 0.2); */
    width: 100vw;
    height: 100vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
  }
  
  .centered {
    /*모달이 뜨는 위치*/
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 10000;
    transform: translate(-50%, -50%);
  }
  
  .modal {
    /*모달창*/
    width: 500px;
    height: 200px;
    background: white;
    color: white;
    z-index: 10000;
    border-radius: 0px;
    overflow: scroll none;
    border: 4px solid rgba(182, 185, 200, 0.24);;
    /* box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04); */
  }
  
  .modalHeader {
    height: 50px;
    background: white;
    overflow: hidden;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
  }
  
  .heading {
    margin: 0;
    padding: 10px;
    color: #2c3e50;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
  }
  
  .modalContent {
    padding: 10px;
    font-size: 14px;
    color: #2c3e50;
    text-align: center;
  }

  .modalContent2 {
    text-align: left;
  }
  
  .modalActions {
    position: absolute;
    bottom: 2px;
    margin-bottom: 10px;
    width: 100%;
  }
  
  .actionsContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .submitBtn {
    margin: 10px;
    cursor: pointer;
    font-weight: 500;
    padding: 10px;
    border-radius: 10px;
    font-size: 0.8rem;
    border: none;
    color: white;
    background: #2BB6F1;
  }

  .closeBtn {
    cursor: pointer;
    font-weight: 500;
    padding: 4px 8px;
    border-radius: 8px;
    border: none;
    font-size: 18px;
    color: #2c3e50;
    background: white;
    transition: all 0.25s ease;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.06);
    position: absolute;
    right: 0;
    top: 0;
    align-self: flex-end;
    margin-top: -7px;
    margin-right: -7px;
  }
  
  .closeBtn:hover {
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
    transform: translate(-4px, 4px);
  }