.background {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    background: rgba(182, 185, 200, 0.24);
}

.rectangle {
    position: relative;
    width: 700px;

    margin: auto;
    top: 150px;
    margin-bottom: 20px;
    padding: 70px;
    border-width: 10px;

    background: #FFFFFF;
}

.profile {
    background-image: url(../../../public/img/profile.png) center/cover;
    height: 100px;
    width: 100px;
    margin: auto;
}

.airplane {
    background-image: url(../../../public/img/airplane.png) center/cover;
    height: 50px;
    width: 50px;
    margin: auto;
}

.post {
    background-image: url(../../../public/img/post.png) center/cover;
    height: 50px;
    width: 50px;
    margin: auto;
}

.heart {
    background-image: url(../../../public/img/heart.png) center/cover;
    height: 50px;
    width: 50px;
    margin: auto;
}
