.background {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    background: rgba(182, 185, 200, 0.24);
    background-size: contain;
    overflow: scroll;
}

.rectangle {
    position: relative;
    width: 700px;

    margin: auto;
    top: 150px;
    margin-bottom: 20px;
    padding: 70px;
    border-width: 10px;

    background-size: cover;
    background: #FFFFFF;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box2 {
  display: flex;
  flex-direction: row;
  align-items: center;
}



.profile {
    background-image: url(../../../public/img/profile.png) center/cover;
    height: 100px;
    width: 100px;
    margin: auto;
}

.airplane {
    background-image: url(../../../public/img/airplane.png) center/cover;
    height: 50px;
    width: 50px;
    background-size: contain;
    
}

.post {
    background-image: url(../../../public/img/post.png) center/cover;
    height: 50px;
    width: 50px;
    background-size: contain;
    margin: auto;
}

.heart {
    background-image: url(../../../public/img/heart.png) center/cover;
    height: 50px;
    width: 50px;
    background-size: contain;
    margin: auto;
}

.css-progressbar {
    width: 80%;
    animation: progressbar 2s ease-out;
}

@keyframes progressbar { 
    0%  { 
      width: 0%;
    } 
    100% { 
      width: 80%;
    }  
  }

.flexitem {
    flex-direction: row;
    margin: auto;
}

.button {
  background-color: #2BB6F1;
  text-decoration: none;
  border: none;
  padding: 20px;
  color: white;
  border-radius: 30px;
  cursor: grab;
}