.background {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    background: rgba(182, 185, 200, 0.24);
}

.rectangle1 {
    position: relative;
    width: 300px;

    margin: auto;
    top: 300px;
    margin-bottom: 20px;
    padding: 50px;
    border-width: 10px;

    background: #FFFFFF;
}